@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
.car-images::-webkit-scrollbar {
    width: 3px; /* Thin scrollbar */
}

.car-images::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
    border-radius: 8px; /* Rounded corners for the track */
}

.car-images::-webkit-scrollbar-thumb {
    background-color: transparent; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
    transition: background-color 0.5s ease;
}
/* Show scrollbar thumb on hover */
.car-images:hover::-webkit-scrollbar-thumb {
    background-color: var(--main-color); /* Scrollbar color when scrolling */
}

/* For Firefox */
.car-images {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: transparent transparent; /* Thumb and track color */
    transition: scrollbar-color 0.3s ease;
}
.car-images:hover {
    scrollbar-color: var(--main-color) transparent; /* Show thumb color on hover */
}

/* Optional: Internet Explorer and Edge (before Chromium-based Edge) */
.car-images {
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Auto-hiding scrollbar */
}
:root{
    --main-color:darkred;
    --text-color:rgb(0, 0, 0);
    --bg-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.header {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-bottom: 2px solid rgb(206, 201, 201);
    padding: 10px 0;
}

.header .logo h1 {
    font-size: 22px;
    color: var(--text-color);
    margin-top: 2px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-toggle {
    display: none; /* Hide the menu toggle by default */
    cursor: pointer;
}

.menu-toggle i {
    font-size: 24px;
    color: var(--text-color);
}

.logo h1 {
    font-size: 30px;
    font-weight: 800;
    color: var(--text-color);
    margin-top: -30px;
    padding: 10px 20px;
}
.logo h1 span{
    color: var(--main-color);
}
.logo a{
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}
.nav-links li i{
    font-size: 22px;
    padding: 10px 70px;
    position: relative;
    top: -40px;
    display: block;
    text-align: center;
}
.login-text {
    font-size: 14px; /* Smaller font size for "Login" text */
    display: block;
    text-align: center;
    margin-top: -50px; /* Space between icon and text */
}

.nav-links li a {
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
    padding: 5px;
    transition: border-bottom 0.3s ease;
}

.nav-links li a.active,
.nav-links li a:hover {
    color: var(--main-color);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.close-menu {
    display: none; /* Hide by default */
}

/* Banner Section */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(238, 230, 230, 0.185); 
    color: var(--main-color);
    box-shadow: 0 4px 8px rgba(34, 30, 30, 0.555);
    border-radius: 10px; 
    margin: 60px 60px;
}

.search-filter {
    flex: 1;
    margin-right: 20px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(34, 30, 30, 0.555);
}

.search-filter h2 {
    margin-bottom: 20px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-row input {
    width: 48%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc; /* Light border for inputs */
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

button {
    padding: 10px 20px;
    background-color: #000; /* Black background for button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--bg-color); /* Darker shade of black for hover */
    color: var(--main-color);
    border: 1px solid var(--text-color);
    font-size: 18px;
    font-weight: 700;
    transition: ease .5s;
}

/* Car Image Section */
.car-image {
    flex: 1;
    text-align: center;
}

.car-image img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 5px;
}

.tagline {
    margin-top: -30px;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
}
.tagline span{
    color: var(--main-color);
}
/* Car Gallery Section */
.car-container {
    padding: 20px;
    background-color: var(--bg-color);
}

.car-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--main-color);
    font-size: 24px;
    font-weight: 700;
}
.car-list-stock {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-gap: 5px;
    padding: 5px;
    transition: all 0.3s ease;

}
#car-list-stock .car-item{
    display: block;
    transition: all 0.3s ease;
}
#car-list-stock .car-item:hover{
   transform: translateY(-5px);
}
.car-item {
    background-color: #fff;
    border-radius: 8px;
    flex: 1 1 calc(25% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: max-height 0.3s ease;
    min-height: 250px;
    padding: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.car-images {
    display: flex;
    overflow-x: auto;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.534);
}
.car-images img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    flex: 0 0 auto;
    padding: 5px 5px;
    border-radius: 20px;
}
.car-summary {
    padding: 5px;
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.322);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.534);
    border-radius: 8px;
}
.car-summary p{
    font-weight: 600;
}
.load-more-btn {
    padding: 3px;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
}
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
}

.modal-content {
    margin: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 80%;
    max-width: 800px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}


#prev-arrow, #next-arrow {
    color: var(--main-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 50px;
    font-size: 26px;
    font-weight: 700;
}

img#modal-image {
    max-width: 100%;
    max-height: 80vh;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: var(--main-color);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* form section for img preview */
.image-preview {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.preview-image {
    max-width: 150px;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 8px;
}

.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: var(--main-color);
    padding: 5px;
    border-radius: 50%;
    font-size: 16px;
}

/* General Footer Styles */
footer {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
   justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 5px;
}

.contact-details, .social-media, .map {
    margin-bottom: 20px;
    margin-top: 20px;
}
.contact-details h3{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    color: var(--main-color);
}
.contact-details p{
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
}
.contact-details span{
    color: var(--main-color);
}

.contact-details a {
    color: #fff;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

.social-media {
    font-size: 20px;
   padding: 10px;
   color: var(--main-color);
}

.social-icon {
    color: #fff;
    font-size: 26px;
    text-decoration: none;
    padding: 20px;
}

.social-icon:hover {
    color: var(--main-color);
}

.map iframe {
    max-width: 100%;
    max-height: 200px;
    border: none;
    border-radius: 10px;
}
.map h3{
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color);
}
.copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    padding: 10px;
    justify-content: center;
}
.copyright h1{
    font-size: 20px;
}
.copyright p{
    font-size: 16px;
    font-weight: 700;
    
}
.copyright span{
    color: var(--main-color);
}
.design{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.design h1{
    font-size: 20px;
}
.design p{
    font-size: 14px;
    font-weight: 700;
    
}
.design span{
    color: var(--main-color);
}




/* Mobile Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .nav-links {
        display: none; /* Hide the nav links by default */
        position: fixed; /* Position fixed to cover the entire screen */
        top: 0;
        left: 0;
        height: 100vh; /* Full viewport height */
        width: 100vw; /* Full viewport width */
        background-color: var(--bg-color);
        flex-direction: column;
        justify-content: center; /* Center the items vertically */
        align-items: center; /* Center the items horizontally */
        transform: translateX(-100%); /* Initially hidden off-screen */
        transition: transform 0.3s ease; /* Smooth transition */
        z-index: 1000;
    }

    .nav-links li {
        margin: 10px 0;
    }
    .nav-links li i{
        top: 5px;
    }

    .nav-links a {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 22px;
        padding: 10px 0;
        text-decoration: none;
        transition: background-color 0.5s;
    }
    .nav-links a:hover{
        color: var(--main-color);
    }
    .menu-toggle {
        display: block; /* Show the menu toggle on mobile */
    }

    .nav-links.show {
        display: flex; /* Show the nav links when toggled */
        transform: translateX(0);
    }
    .close-menu {
        position: absolute;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 24px;
        color: var(--text-color);
        top: 100px;
        left: 110px;
        display: flex;
    }

    .close-menu i {
        font-size: 24px;
    }
    .logo h1 {
       margin-top: 5px;
       padding: 5px;
    }
    /* banner */
    .banner {
        flex-direction: column;
        text-align: center;
        padding: 10px 10px;
        margin: 10px 15px;
    }

    .search-filter {
        margin: 0 0 20px 0;
    }

    .input-row {
        flex-direction: column;
    }

    .input-row input {
        width: 100%;
        margin-bottom: 10px;
    }
    .tagline {
        margin-top: -30px;
        
    }
/* all cars section */
    .car-container {
        flex-direction: column;
        align-items: center;
    }
    .car-item {
        width: 100%; /* Full width on mobile */
        display: flex;
        flex-direction: row; /* Arrange image and details in a row */
        justify-content: space-between;
        margin-bottom: 20px; /* Space between car items */
    }
    .car-images {
        width: 100%; /* Image takes half the width */
        margin-right: 10px;
    }

    .car-images img {
        width: 100%;
        object-fit: contain;
    }

    .car-details {
        width: 65%; /* Details take the other half of the width */
        padding: 5px;
    }

    .car-details h3 {
        font-size: 18px; /* Adjust font size for mobile */
    }

    .car-details p {
        font-size: 14px; /* Adjust font size for mobile */
    }
    .car-description {
        font-size: 14px; /* Smaller font size for mobile */
        margin: 5px 0; /* Reduce margin on mobile */
    }

    /* footer */
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .social-media {
        flex-direction: row;
        justify-content: center;
    }

    .map iframe {
        width: 100%;
        height: 300px; /* Adjust height as needed */
    }
    .contact-details h3{
        font-size: 24px;
    }
}



@media (max-width: 480px) {
    .car-item {
        width: 100%; /* One item per row */
    }

    .contact-details h3, .social-media h3, .map h3 {
        font-size: 18px;
    }

    .contact-details p, .social-media a {
        font-size: 14px;
    }

    .social-icon {
        font-size: 20px;
    }
}



